<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h2>Online Leave Management System</h2>
    <nav>
        @Html.ActionLink("Home", "Index")
        @Html.ActionLink("AddEmployee", "AddEmployee")
        @Html.ActionLink("Login", "Login")
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
