@model OnlineLeaveManagement.Entity.Login

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<h2>Login</h2>
@using (Html.BeginForm("Login", "Employee", FormMethod.Post))
{
    <table cellpadding="10">
        <tr>
            <td>
                @Html.Label("User Name")
            </td>
            <td>
                @Html.EditorFor(Model => Model.UserName)
                @Html.ValidationMessageFor(Model => Model.UserName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Password")
            </td>
            <td>
                @Html.EditorFor(Model => Model.Password)
                @Html.ValidationMessageFor(Model => Model.Password)
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" />
            </td>
        </tr>
    </table>
}

